<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary" (click)="close();">
      <ion-button >
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>School Clean-up Activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="wholeContent">
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/imgs/rshslogo.png">
      </ion-avatar>&nbsp;
      <ion-label>RSHS III Admin<br>
        <span style="color:rgb(140, 140, 140);font-size:13px;">1 hour ago</span></ion-label>
    </ion-item>

    <img src="../../assets/imgs/rshs-students.jpg">

    <ion-card-content>
      Morbi bibendum, orci sed blandit mollis, enim nisl blandit mi, sed egestas nulla leo nec quam. Aenean maximus,
      arcu non tincidunt sagittis, lectus turpis facilisis orci, at molestie augue purus sit amet libero. Donec nisl
      tortor, aliquam nec lacus a, sodales condimentum erat. Nullam id eros ligula. Maecenas laoreet, justo eu
      ullamcorper semper, nisi lacus pellentesque purus, iaculis laoreet enim elit a erat. Proin at dapibus quam, sed
      congue arcu.Fusce aliquam blandit nisi quis aliquam. Nullam mollis ligula sit amet erat ullamcorper efficitur.
      Aenean libero sem, aliquet sit amet tellus et, rhoncus cursus arcu. Aliquam vehicula vitae tellus sed vulputate.
      Nam malesuada rutrum dolor eu cursus. Cras at neque dapibus, mollis metus id, facilisis velit. Sed tempor felis a
      neque faucibus gravida.
    </ion-card-content>
  </ion-card>
</ion-content>