<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Account Settings</ion-title>
    <ion-buttons slot="primary" (click)="close();">
        <ion-button >
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col size="10" text-center>
          <img src="../../assets/imgs/rshslogo.png">
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label>
          <ion-icon name="person" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
        </ion-label>
        <ion-input expand="full" placeholder="Full Name" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="mail" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
        </ion-label>
        <ion-input expand="full" placeholder="Email" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="lock" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
        </ion-label>
        <ion-input expand="full" placeholder="Current Password" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>
            <ion-icon name="lock" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
          </ion-label>
          <ion-input expand="full" placeholder="New Password" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="checkbox-outline" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
        </ion-label>
        <ion-input expand="full" placeholder="Confirm New Password" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
      </ion-item><br>
  
      <ion-button expand="block" shape="round" color="primary">Update</ion-button>
  
    </ion-grid>
  </ion-content>
