<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="wholeContent">
  <br><br><br>
  <ion-grid class="gridContent">
    <ion-col size="6">
      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="6" text-center><br>
          <img src="../../assets/imgs/rshsreg3_logo.png">
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
      <p style="font-size:20px;text-align:center;color:white">Regional Science High School <br><span style="font-weight:bold;">Region
          III</span></p>  
    </ion-col>
    <ion-col size="6">
    </ion-col>
  </ion-grid>
</ion-content>

<p class="pContent">
    <ion-card class="cardContent" padding>
      <ion-card-header style="text-align:center;font-weight:bold;color:rgb(56,128,255);font-size:18px;text-transform: uppercase;">Login</ion-card-header>
      <ion-card-content>
        <ion-item>
          <!-- <ion-label placeholder="">Username</ion-label> -->
          <ion-input placeholder="Username"></ion-input>
        </ion-item>
        <ion-item>
          <!-- <ion-label placeholder="">Password</ion-label> -->
          <ion-input placeholder="Password"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button expand="block" shape="round"color="primary" routerLink="/tabs/home">Login</ion-button>
        <p style="text-align:center;color:rgb(56,128,255);">Forgot Password?</p>
    </ion-card>
</p>

