.wholeContent{
    --background: rgb(56,128,255);
    position: absolute;
    left: 0px;
    bottom: 250px;
    z-index: -1;
    padding-bottom:30px;
}
.gridContent{
    padding-top: 210px;
}
.cardContent{
    --background: white;

}
.pContent{
    padding-top:310px;
}
.loginButton{
    padding-bottom:300px;
}