<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Newsfeed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notif">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notification</ion-label>
      <ion-badge color="primary">3</ion-badge>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
