<ion-content padding>
    <p style="text-align:center;">Wilinda Dedase <br>
      <span style="color:rgb(140, 140, 140);font-size:13px;text-align:center;">wilindadedase@gmail.com</span></p>
    <ion-button style="text-align:left;" size="small" fill="clear" expand="fill" (click)="accountsettings($event);">
        <ion-icon slot="start" name="settings"></ion-icon>Account Settings
    </ion-button><br>
    <ion-button style="text-align:right;" size="small" fill="clear" color="danger" expand="fill" (click)="close($event);">
        <ion-icon slot="start" name="log-out" ></ion-icon>Logout
    </ion-button>
</ion-content>
