<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Notification</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event);">
        <ion-icon slot="icon-only" name="person" style="color:white" class="hydrated"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search" autocomplete="on" padding></ion-searchbar>
  <ion-list>
    <ion-item-sliding>
      <ion-item (click)="readmore();">
        <ion-avatar item-start>
          <img src="../../assets/imgs/rshslogo.png">
        </ion-avatar>&nbsp;
        <ion-label text-wrap>RSHS III Admin&nbsp;<span style="color:rgb(90, 90, 90);font-size:14px;">post an
            announcement.</span><br>
          <span style="color:rgb(140, 140, 140);font-size:13px;">1 hour ago</span></ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="link">Mark as read</ion-item-option>
        <ion-item-option color="danger" (click)="link">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item (click)="readmore();">
        <ion-avatar item-start>
          <img src="../../assets/imgs/rshslogo.png">
        </ion-avatar>&nbsp;
        <ion-label text-wrap>RSHS III Admin&nbsp;<span style="color:rgb(90, 90, 90);font-size:14px;">post an
            announcement.</span><br>
          <span style="color:rgb(140, 140, 140);font-size:13px;">5 hours ago</span></ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="link">Mark as read</ion-item-option>
        <ion-item-option color="danger" (click)="link">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <!-- Time-in -->
    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <ion-icon name="information-circle" style="color:green;font-size:35px;"></ion-icon>
        </ion-avatar>&nbsp;
        <ion-label text-wrap>Wilinda time-in 7:45am<br>
          <span style="color:rgb(140, 140, 140);font-size:13px;">Jan. 11, 2019</span></ion-label>
      </ion-item>
    </ion-item-sliding>

    <!-- Time-out -->
    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <ion-icon name="information-circle" style="color:red;font-size:35px;"></ion-icon>
        </ion-avatar>&nbsp;
        <ion-label text-wrap>Wilinda time-out 5:15pm<br>
          <span style="color:rgb(140, 140, 140);font-size:13px;">Jan. 10, 2019</span></ion-label>
      </ion-item>
    </ion-item-sliding>
  
    <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start>
            <img src="../../assets/imgs/rshslogo.png">
          </ion-avatar>&nbsp;
          <ion-label text-wrap>RSHS III Admin&nbsp;<span style="color:rgb(90, 90, 90);font-size:14px;">post an
              announcement.</span><br>
            <span style="color:rgb(140, 140, 140);font-size:13px;">Jan.9, 2019</span></ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="link">Mark as read</ion-item-option>
          <ion-item-option color="danger" (click)="link">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    <!-- Time-in -->
    <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start>
            <ion-icon name="information-circle" style="color:green;font-size:35px;"></ion-icon>
          </ion-avatar>&nbsp;
          <ion-label text-wrap>Wilinda time-in 7:01am<br>
            <span style="color:rgb(140, 140, 140);font-size:13px;">Jan. 9, 2019</span></ion-label>
        </ion-item>
      </ion-item-sliding>
  
      <!-- Time-out -->
      <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start>
            <ion-icon name="information-circle" style="color:red;font-size:35px;"></ion-icon>
          </ion-avatar>&nbsp;
          <ion-label text-wrap>Wilinda time-out 12:15pm<br>
            <span style="color:rgb(140, 140, 140);font-size:13px;">Jan. 9, 2019</span></ion-label>
        </ion-item>
      </ion-item-sliding>

    <!-- Time-in -->
    <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start>
            <ion-icon name="information-circle" style="color:green;font-size:35px;"></ion-icon>
          </ion-avatar>&nbsp;
          <ion-label text-wrap>Wilinda time-in 12:45pm<br>
            <span style="color:rgb(140, 140, 140);font-size:13px;">Jan. 9, 2019</span></ion-label>
        </ion-item>
      </ion-item-sliding>
  
      <!-- Time-out -->
      <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start>
            <ion-icon name="information-circle" style="color:red;font-size:35px;"></ion-icon>
          </ion-avatar>&nbsp;
          <ion-label text-wrap>Wilinda time-out 5:30pm<br>
            <span style="color:rgb(140, 140, 140);font-size:13px;">Jan. 9, 2019</span></ion-label>
        </ion-item>
      </ion-item-sliding>

      <ion-item-sliding>
          <ion-item>
            <ion-avatar item-start>
              <img src="../../assets/imgs/rshslogo.png">
            </ion-avatar>&nbsp;
            <ion-label text-wrap>RSHS III Admin&nbsp;<span style="color:rgb(90, 90, 90);font-size:14px;">post an
                announcement.</span><br>
              <span style="color:rgb(140, 140, 140);font-size:13px;">Jan.8, 2019</span></ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="link">Mark as read</ion-item-option>
            <ion-item-option color="danger" (click)="link">Delete</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding>
            <ion-item>
              <ion-avatar item-start>
                <img src="../../assets/imgs/rshslogo.png">
              </ion-avatar>&nbsp;
              <ion-label text-wrap>RSHS III Admin&nbsp;<span style="color:rgb(90, 90, 90);font-size:14px;">post an
                  announcement.</span><br>
                <span style="color:rgb(140, 140, 140);font-size:13px;">Jan.8, 2019</span></ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="link">Mark as read</ion-item-option>
              <ion-item-option color="danger" (click)="link">Delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
  </ion-list>

</ion-content>