<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Newsfeed</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event);">
        <ion-icon slot="icon-only" name="person" style="color:white" class="hydrated"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="wholeContent" padding>
  <!-- <ion-searchbar placeholder="Search" autocomplete="on" padding></ion-searchbar> -->
  <ion-card>
    <ion-item >
      <ion-avatar item-start>
        <img src="../../assets/imgs/rshslogo.png">
      </ion-avatar>&nbsp;
      <ion-label>RSHS III Admin<br>
        <span style="color:rgb(140, 140, 140);font-size:13px;">1 hour ago</span></ion-label>
    </ion-item>

    <img src="../../assets/imgs/rshs-students.jpg">

    <ion-card-content class="cardContent">
      <p style="color:black;font-weight:bold;font-size:16px;">School Clean-up Activity</p>
      Nam malesuada rutrum dolor eu cursus. Cras at neque dapibus, mollis metus id, facilisis velit. Sed tempor felis a
      neque faucibus gravida.Aenean libero sem, aliquet sit amet tellus et, rhoncus cursus arcu. Aliquam vehicula vitae
      tellus sed vulputate. <p (click)="readmore()" style="color:rgb(56,128,255);text-decoration:underline">Read More</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/imgs/rshslogo.png">
      </ion-avatar>&nbsp;
      <ion-label>RSHS III Admin<br>
        <span style="color:rgb(140, 140, 140);font-size:13px;">5 hours ago</span></ion-label>
    </ion-item>

    <img src="../../assets/imgs/rshs-students1.jpg">

    <ion-card-content>
      <p style="color:black;font-weight:bold;font-size:16px;">Sample Title here</p>
      Proin lacinia, felis eu finibus posuere, nibh lorem semper mi, quis tempor urna arcu quis purus. Aenean egestas
      sed metus id finibus. Nulla convallis ante velit, vel placerat felis lobortis sit amet. Ut in pharetra urna.
      Nullam ac cursus nibh, ut lacinia arcu. Ut ornare sem. <a href="#">Read More</a>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/imgs/rshslogo.png">
      </ion-avatar>&nbsp;
      <ion-label>RSHS III Admin<br>
        <span style="color:rgb(140, 140, 140);font-size:13px;">Jan. 9, 2019</span></ion-label>
    </ion-item>

    <img src="../../assets/imgs/rshs-students2.jpg">

    <ion-card-content>
      <p style="color:black;font-weight:bold;font-size:16px;">Sample Title here</p>
      Phasellus quam neque, convallis non enim sollicitudin, ultrices tincidunt est. Curabitur ultrices egestas sem ac
      condimentum. Duis vestibulum tincidunt dolor vel semper. Maecenas lobortis leo ut tristique consequat. Nunc
      luctus quam justo, at sagittis massa elementum vitae. Fusce molestie. <a href="#">Read More</a>
    </ion-card-content>
  </ion-card>

</ion-content>